<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.reply.ReplyMapper">
	
	<insert id="insert" parameterType="kr.co.project.reply.ReplyVO">
		INSERT INTO reply (
			title, content, regdate, readcnt,
			filename_org, filename_real,
			gno, ono, nested, writer 
		) VALUES (
			#{title}, #{content}, NOW(), 0,
			#{filename_org}, #{filename_real},
			#{gno}, #{ono}, #{nested}, #{writer}
		)
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- gno 수정 -->
	<update id="updateGno" parameterType="int">
		UPDATE reply SET gno=#{no} WHERE no=#{no}
	</update>
	<!-- ono 수정 (부모와 같은 그룹이면서 부모의 ono보다 큰 ono를 +1 -->
	<update id="updateOno" parameterType="kr.co.project.reply.ReplyVO">
		UPDATE reply SET ono=ono+1 WHERE gno=#{gno} AND ono > #{ono}
	</update>
	<update id="update" parameterType="kr.co.project.reply.ReplyVO">
		UPDATE reply SET 
			title=#{title}
			, content=#{content}
			<if test="filename_org != null">
			, filename_org=#{filename_org}
			, filename_real=#{filename_real}
			</if> 
		WHERE no=#{no}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM reply WHERE no=#{no}
	</delete>
	
	<sql id="searchSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					title LIKE '%${searchWord}%' OR content LIKE '%${searchWord}%'
				</if>
				<if test="searchType != 'all'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 목록 -->
	<select id="list" parameterType="kr.co.project.reply.ReplyVO" resultType="kr.co.project.reply.ReplyVO">
		SELECT *,
			(SELECT name FROM member WHERE no=reply.writer) as writer_name,
			(SELECT COUNT(*) from comment WHERE parent_no=reply.no) as comment_count
		FROM reply
		<include refid="searchSql"/>
		ORDER BY gno DESC, ono ASC
		LIMIT #{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.co.project.reply.ReplyVO" resultType="int">
		SELECT COUNT(*) FROM reply
		<include refid="searchSql"/>
	</select>
	
	<!-- 상세 -->
	<select id="detail" parameterType="kr.co.project.reply.ReplyVO" resultType="kr.co.project.reply.ReplyVO">
		SELECT * FROM reply WHERE no=#{no}
	</select>
	<!-- 조회수 증가 -->
	<update id="increaseReadcnt" parameterType="int">
		UPDATE reply SET readcnt=readcnt+1 WHERE no=#{no}
	</update>
	<update id="fileDelete" parameterType="int">
		UPDATE reply SET filename_org=null, filename_real=null WHERE no=#{no}
	</update>
</mapper>